In [1]:
import numpy as np

In [6]:
data = np.random.randn(1000,2)
data

array([[ 0.93141365, -0.19533773],
       [ 0.24547085,  0.2517804 ],
       [-1.3079773 , -0.47899101],
       ...,
       [-0.44991003, -0.11193763],
       [-0.24158301,  0.93766503],
       [-1.14768065,  1.0120783 ]])

In [3]:
import pandas as pd

In [7]:
df = pd.DataFrame(data, columns=['Observation 1','Observation 2'])

In [8]:
df.head()

   Observation 1  Observation 2
0       0.931414      -0.195338
1       0.245471       0.251780
2      -1.307977      -0.478991
3      -0.291169       0.101254
4      -0.041553      -1.773729